body {
    margin: 0px auto;
    background: white;
    color: #81858a;
    font: 1.6em/1.6 Helvetica, Verdana, sans-serif;
}

header {
    margin: 0px auto;
    background: #4385c1;
    color: white;
    font-size: .9rem;
}

footer {
    background: #34383c;
    color: white;
    padding: 1em;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, serif;
    font-weight: normal;
}

h2 {
    font: 2.8rem/1.2 Helvetica, Verdana, sans-serif;
}
h4 {
    font-size: 1.2rem;
}
p {
    font-size: .925rem;
}

img {
    max-width: 100%;
}

a:link, a:visited {
    color: #4385c1;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    color: #043867;
}
header {
    display: flex;
    align-items: center;
    height: 150px;
}
#quick-nav {
    display: flex;
    justify-content: flex-start;
    width: 25%;
}
#quick-nav ul {
    margin: 0px;
    padding-inline-start: 0px;
    display: flex;
    align-items: center;
}
#quick-nav ul li {
    list-style-type: none;
    margin-left: 10px;
    border-right: 1px solid #9ac9f4;
}
#quick-nav li:last-of-type {
    border: none;
}
#quick-nav a{
    font-size: 18px;
    padding: 10px;
}
#quick-nav a:link, #quick-nav a:visited {
    color: white;
}
#quick-nav a:hover, #quick-nav a:focus, #quick-nav a:active {
    color: #9ac9f4;
}
.branding {
    width: 50%;
    color: #9ac9f4;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.branding img {
    width: 400px;
    padding-top: 25px;
}
.utilities {
    display: flex;
    width: 25%;
}
.utilities div {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin-right: 65px;
    padding: 10px 20px;
}
.utilities a{
    font-size: 18px;
    color: white;
}
#main-nav {
    height: 70px;
    background-color: #043867;
    font-family: Georgia, serif;
    font-size: 0.82em;
}
#main-nav ul{
    margin: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 40px;
}
#main-nav li {
    height: 100%;
    border-left: 0.5px solid;
    display: flex;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
}
#main-nav a{
    color: whitesmoke;
}
#main-nav li:last-of-type {
    border-right: 0.5px solid;
}
#main-nav li:hover {
    background-color: #002342;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    background-image:  url(hero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.hero img{
    height: 100%;
    width: 100%;
}
#p {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    border-top: 2px solid antiquewhite;
    border-bottom: 2px solid antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hero h3{
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.hero p{
    font-size: 40px;
    margin: 0px;
}
#main01 {
    display: flex;
    align-items: center;
    color: antiquewhite;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(62, 184, 13);
}
#mai01 h2 {
    margin: 30px;
    width: 40%;
    font-size: 60px;
}
#main01 p {
    padding-right: 32px;
    width: 60%;
}
.main {
    display: flex;
    margin-top: 50px;
    margin-right: 40px;
}
.main div {
    width: 33.333%;
    height: 350px;
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.main div {
    width: 33.333%;
    height: 350px;
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.main p{
    margin-bottom: 0px;
}
.main h2{
    margin: 0px;
    padding-top: 30px;
}
#main h2 {
    margin: 0px;
    padding-top: 30px;
}
#main02 div {
    background-color: rgb(199,193,193);
}
.main-color h2 {
    color: white;
}
.maini-color p{
    font: 2.8rem/1.2 Helvetica, Verdana, sans-serif;
    color: white;
    padding-right: 150px;
}
#main03 {
    background-color: purple;
}
#main04 {
    background-color: lightskyblue;
}
#main05 {
    padding-left: 0px;
    padding-right: 80px;
}
#main05 div {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
}
#main05 h4 {
    font-weight: bold;
    margin: 0px;
}
#main05 h5 {
    display: inline-block;
    border: 2px solid rgb(141,138,138);
    padding: 10px 30px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
    color: yellowgreen;
}
#main05 h5 p{
    display: block;
    margin: 0px;
    font-size: 35px;
    color: yellowgreen;
}
#main05 p{
    color: blue;
    display: inline;
}
#button {
    display: flex;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-right: 40px;
}
#button {
    width: 25%;
    margin-left: 40px;
    padding: 3px 10px;
    border: 1px solid blue;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
#full-nav {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}
#full-nav div {
    width: 25%;
    margin-left: 50px;
}
#full-nav h3 {
    font-size: 23px;
    margin-top: 80px;
    margin-bottom: 20px;
}
#full-nav-final {
    margin-top: 0px !important;
}
#full-nav ul {
    padding-left: 0px;
}
#full-nav ul li {
    list-style-type: none;
}
#full-nav ul li a{
    font-size: 18px;
}
#full-nav a:link, #full-nav a:visited {
    color: #81858a;
}
#full-nav h3 a:link, #full-nav h3 a:visited {
    color: white;
}
#full-nav a:hover, #full-nav a:focus, #full-nav a:active {
    color: white;
}
#small {
    padding-top: 50px;
    padding-bottom: 200px;
    text-align: center;
}